{% extends "base.html" %}
{% load static %}
{% block content %}
<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">sl no</th>
        <th scope="col">doctor name</th>
        <th scope="col">specifications</th>
        <th scope="col">dept name</th>
        <th scope="col">doctor image</th>
      </tr>
    </thead>
    <tbody>

        {% for i in doc %}
        <tr>
    <td>{{ forloop.counter }}</td>
        <td>{{ i.doc_name }}</td>
        <td>{{ i.doc_specialisation }}</td>
        <td>{{ i.dept_name }}</td>
        <td><img src="{{ i.doc_image.url }}" alt=""></td>
        
    </tr>
        {% endfor %}  

    </tbody>
  </table>
{% endblock content %}